body {
  font-family: Arial, sans-serif;
  font-size: 22px;
  line-height: 1.5rem;
  background-color: #31c0d3;
  display: flex;
  justify-content: center;
}
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vh;
  display: none;
  visibility:hidden;
}

.turn {
  height:40px;
  font-size: 2rem;
  text-align: center;
  margin: 85px;
}

.board {
  width: 340px;
  height: 340px;
  justify-content: center;
  align-content: center;
  display: grid;
  grid-template: repeat(3, 100px)/repeat(3, 100px);
  gap: 14px;
  padding: 15px;
  border-radius: 50px;
  background: #31c0d3;
  box-shadow:  34px 34px 68px #2aa3b3,
               -34px -34px 68px #38ddf3;
}

.cell {
  color: rgba(249, 238, 202, 0.8);
  appearance: none;
  border: none;
  font-size: 7rem;
  line-height: 2rem;
  margin: 0;
  padding: 0;
  border-radius: 18px;
  background: #31c0d3;
  box-shadow: inset 10px 10px 20px #2aa3b3,
              inset -10px -10px 20px #38ddf3;
}

.names {
  margin: 45px;
}

.win-screen {
  display: none;
  visibility: hidden;
}

.tie-screen {
  display: none;
  visibility: hidden;
}

.back-to-game {
  display: none;
  visibility: hidden;
  
}
