body {
  font-family: Arial, sans-serif;
  font-size: 22px;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  
  width: 50vh;
}

.board {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}

.cell {
  height: 3rem;
}
